@import "../../common/styles/sass/variables";

.projects {
  display: flex;
  background-color: $bgColorPrimary;
  position: relative;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .title {
      align-self: flex-start;
    }

    .projectsItems {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

}



