.projects {
    /*min-height: 100vh;*/
    display: flex;
    background-color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    align-self: flex-start;
    /*background-color: #b6b6b6;*/
}

.projectsItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    /*border: 1px solid;*/
}