.projects {
    min-height: 100vh;
    display: flex;
    background-color: #ce9edc;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    background-color: #b6b6b6;
}

.projectsItems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid;
}