@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.hi {
  min-height: 200px;
  background-color: $textColorSecondary;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: $fontFamilyText;
  position: relative;

  .description {
    @include text($textColorPrimary, 18px, 30px, 400);
    margin-bottom: 30px;
  }

  .btn {
    background-color: $accentColor;
    box-shadow: 0 1px 29px rgba(0, 0, 0, 0.16);
    height: 50px;
    border-radius: 25px;
    @include text($textColorSecondary, 14px, 20px, 600);
    text-transform: uppercase;
    padding: 15px;
    min-width: 170px;
    text-align: center;
    display: inline-block;
    text-decoration: none;

    img {
      height: 14px;
      margin-top: -5px;
      margin-right: 5px;
    }

    &:hover {
      background-color: #8670d5;
    }
  }
}
