.hi {
    min-height: 200px;
    /*padding-right: 200px;*/
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Roboto', sans-serif;
}

.description {
    color: #555;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.btn {
    background-color: #6d56c1;
    height: 50px;
    border-radius: 25px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 15px;
    min-width: 170px;
    text-align: center;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.btn:hover {
    background-color: #856bd7;

}

.btn img {
    height: 14px;
    margin-top: -5px;
    margin-right: 5px;
}