.main {
    margin-top: 50px;
    display: flex;
    background-color: #6d56c1;
    background-image: url(../../assets/image/me.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
}

.main::before {
    background: linear-gradient(54deg,rgba(74,76,179,.95) 34%,hsla(0,34%,71%,.95));
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    z-index: 0;
}

.content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.photo {
    width: 320px;
    /*height: 500px;*/
    /*background-color: #b6b6b6;*/
}

.photo img {
    border-radius: 5px;
    box-shadow: 0 0 27px rgb(96 96 96 / 34%);
    width: 90%;
    height: 380px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 10px;
    position: relative;
    top: 40px;
}



.info {
    /*width: 100%;*/
    min-width: 1px;
    min-height: 1px;
    margin-left: 30px;
    color: #fff;
    font-family: Roboto Mono,monospace;
}

.info .name {
    font-size: 44px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
}

.info .work {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}

.info .contact {
    margin-bottom: 20px;
}


.info .contact .list{
    font-size: 16px;
    line-height: 24px;
    word-break: break-word;

}

.info .contact .list dt {
    opacity: .4;
    float: left;
    font-weight: 700;
    text-transform: uppercase;
}

.info .contact .list dd {
    padding-left: 80px;
    margin-bottom: 15px;
    font-weight: 600;
}
.info .contact .list dd a {
    color: #fff;
    text-decoration: none;
}

.info .contact .list dd a:hover {
    text-decoration: underline;
}
.socialNetwork svg {
    fill: #fff;
    opacity: .4;
    margin-right: 30px;
    margin-bottom: 20px;
}

.socialNetwork svg:hover {
    opacity: 1;

}


@media screen and (max-width: 834px) {
    .photo {
        display: none;
    }
    .info {
        margin-left: 0;
    }
}

@media screen and (max-width: 430px) {
    .info .contact .list dd {
        padding-left: 60px;
    }
}