.project {
    display: flex;
    margin-bottom: 40px;
    color: #555;
}

@media screen and (max-width: 767px) {
    .project {
        flex-direction: column;
    }
}

.imgBox {
    width: 100%;
    background-color: #706868;
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}


.textBox {
    width: 100%;
    padding: 50px 50px 40px 30px;
    border: 1px solid #f1f1f1;
}

.textBox p {
    display: block;
}

.title {
    font-size: 18px;
    line-height: 30px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
}

.description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 45px;
    font-family: Roboto,sans-serif;
}

.stack {
    font-family: Roboto Mono,monospace;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.tags {
    list-style: none;
    padding: 0;
    display: block;
}

.tags li {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 14%);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
}

@media screen and (max-width: 1042px) {
    .tags li {
        margin-bottom: 10px;
    }
}


.linkProject {
    float: right;
    margin-top: 55px;
    font-family: Roboto Mono,monospace;
    font-size: 14px;
    line-height: 20px;
    color: #6d56c1;
    transition: all .3s;
    position: relative;
    text-decoration: none;
    cursor: pointer;

}

.linkProject:hover {
    text-decoration: underline;
}