.infoContacts {
    margin-right: 100px;
    font-family: Roboto Mono,monospace;
}

.infoContacts .list{
    font-size: 16px;
    line-height: 24px;
    word-break: break-word;
    margin-bottom: 45px;
}

.infoContacts .list dt {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
}

.infoContacts .list dd {
    padding-left: 80px;
    margin-bottom: 15px;
    font-weight: 600;
}

.infoContacts .list dd a {
    text-decoration: none;
}

.infoContacts .list dd a:hover {
    text-decoration: underline;
}

.infoContacts ul {
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
}

.infoContacts li {
    margin-bottom: 20px;
}

.infoContacts a {
    color: #fff;
    text-decoration: underline;
    padding: 6px 0;
    transition: all .3s;
}
