.header {
    height: 70px;
    background-color: #fff;
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 14%);
    display: flex;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}
