@import "../../common/styles/sass/variables";

.header {
  height: 70px;
  width: 100%;
  background-color: $bgColorPrimary;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.14);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  font-family: $fontFamilyTitle;

  .container {
    width: 80%;
    position: absolute;
    left: 10%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
  }
}



