@import "../../../common/styles/sass/variables";
@import "../../../common/styles/sass/mixins";

.nav {
  min-width: 40%;
  display: flex;
  justify-content: space-around;

  a {
    cursor: pointer;
    text-decoration: none;
    @include text($textColorPrimary, 14px, 20px, 700);
    text-transform: uppercase;
    padding-right: 50px;
    position: relative;

    &:hover {
      color: $accentColor;
    }

    @media screen and (max-width: 834px) {
      display: none;
      padding-right: 30px;
    }
  }

  .active {
    text-decoration: underline;
  }
}
