$textColorPrimary: #555;
$textColorSecondary: #fff;
$bgColorPrimary: #fff;
$bgColorSecondary: #f7f7f7;
$accentColor: #6d56c1;

$fontFamilyTitle: Roboto Mono, monospace;
$fontFamilyText: Roboto,sans-serif;
$errorBoxShadow: 0 0 10px 1px rgba(255, 0, 0, 0.8) inset;